In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
data=pd.read_csv(r"https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [8]:
df=data

In [9]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [11]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [12]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [15]:
X=df.drop(["Chance of Admit "],axis=1)

In [17]:
Y=df["Chance of Admit "]

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.33,random_state=42)

In [21]:
x_train.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
471,472,311,103,3,2.0,4.0,8.09,0
26,27,322,109,5,4.5,3.5,8.80,0
7,8,308,101,2,3.0,4.0,7.90,0
453,454,319,103,3,2.5,4.0,8.76,1
108,109,331,116,5,5.0,5.0,9.38,1

In [22]:
x_test.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
361,362,334,116,4,4.0,3.5,9.54,1
73,74,314,108,4,4.5,4.0,9.04,1
374,375,315,105,2,2.0,2.5,7.65,0
155,156,312,109,3,3.0,3.0,8.69,0
104,105,326,112,3,3.5,3.0,9.05,1

In [24]:
y_train.head()

471    0.64
26     0.76
7      0.68
453    0.73
108    0.93
Name: Chance of Admit , dtype: float64

In [25]:
y_train.head()

471    0.64
26     0.76
7      0.68
453    0.73
108    0.93
Name: Chance of Admit , dtype: float64

In [26]:
y_test.head()

361    0.93
73     0.84
374    0.39
155    0.77
104    0.74
Name: Chance of Admit , dtype: float64

In [35]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_tf=scaler.fit_transform(x_train)

In [31]:
from sklearn.svm import SVR
model=SVR()

In [37]:
model.fit(x_train_tf,y_train)

SVR()

In [38]:
model.score(x_train_tf,y_train)

0.8002696421631224

In [40]:
x_test_tf=scaler.transform(x_test)

In [54]:
y_pred=model.predict(x_test_tf)

In [51]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))

0.004878474514395204
0.056264972012118435
0.06984607730141475

In [55]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
score

0.7632199437959383

In [56]:
#adjusted r square
1-(1-score)*(len(y_test-1)/(len(y_test)-x_test.shape[1]-1))

0.7495595559380117